{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'avengers/style.css' %}" />
<div class="content">
<h1>Welcome to the Avengers Bunker!</h1>
<br>
<form method="POST" ><h4>Add New Avenger to the roster?</h4>
    {% csrf_token %}
  <input type="text" name="create">
    <input type="submit" value="Add" />
</form>



{% if avenger_list %}
<table id="avengers">
    <thead>
    <tr>
        <th>Avenger</th>
        <th>Clicks</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for avenger in avenger_list %}
    <tr>
        <td>{{ avenger.avenger_name }}</td>
        <td>{{ avenger.referrals }}</td>
        <td><a href="{% url 'avengers:detail' avenger.avenger_name %}">Edit</a></td>
        <td><form method="POST" action="{% url 'avengers:delete' avenger.id %}">{% csrf_token %}<input type="submit" value="Delete"></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Avengers available. Thanos must have won. :(</p>
{% endif %}
</div>
